---
import './home4.css'
---


<section class="page4-container">
    <img src="/reffrey/images/noise.png" alt="bg">
<div class="home4-container">
    <img src="/reffrey/images/img2.png" alt="Logo" />
    <div class="blueCircle"></div>
    <div class="content">
        <p>Let me <span>verify</span> with their mutual friend.</p>
        <p>Hi Hardik, Will you</p>
        <p><span>refer</span> Manoj to Ram?</p>
    </div>
    <div class="femImg-yesImg">
        <img src="/reffrey/images/fem-img.png" alt="img">
        <img src="/reffrey/images/yes-img.png" alt="img">
    </div>
</div>
</section>