
.home4-container{
    display: flex;
    position: relative;
    margin: 50px 0 90px 50px;
    width: 100%;
    height: 100%;
}
.home4-container>img:nth-child(1){
    width: 150px;
    height: 263px;
    object-fit: contain;
    position: relative;
    z-index: 2;
    margin-left: 200px;
    top: 150px;
    right: 50px;
}
.home4-container>.blueCircle{
    width: 2000px;
    height: 2000px;
    border-radius: 2000px;
    position: absolute;
    z-index: 0;
    bottom: -200%;
    left: -61%;
    filter: blur(80px);
    opacity: 0.7;
    background: radial-gradient(50% 50% at 50% 50%, #1199F3 0%, rgba(34, 85, 255, 0.19) 49.48%, rgba(34, 85, 255, 0.00) 100%);
}

.home4-container>.content{
    padding: 0 0 38px 38px; 
    width: fit-content;
    height: fit-content;
    position: relative;
    z-index: 10;
}
.home4-container>.content::before{
    position: absolute;
    content: "";
    width: 10%;
    height: 100%;
    background-color: transparent;
    left: 0px;
    top: -10px;
    border-bottom: 2px solid #FFF;
    border-left: 2px solid #FFF;
}
.home4-container>.content>p{
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 62px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%; /* 68.2px */
}
.home4-container>.content>p:nth-child(1){
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 26.4px */
    margin-bottom: 20px;
}
.home4-container>.content>p:nth-child(1)>span{
    color: #7AEC9A;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.home4-container>.content>p:nth-child(3)>span{
    color: #1199F3;
font-family: "Source Sans Pro";
font-size: 62px;
font-style: normal;
font-weight: 600;
line-height: 110%;
}
.home4-container>.femImg-yesImg{
    width: fit-content;
    position: relative;
    top: 100px;
}
.home4-container>.femImg-yesImg>img:nth-child(1){
    width: 293px;
height: 482px;
margin-left: 50px;
}
.home4-container>.femImg-yesImg>img:nth-child(2){
    position: absolute;
    top: 91px;
    left: -190px;
}