---
import Header from '../components/header/Header.astro';
import Home1 from '../components/home1/home1.astro'
import Layout from '../layouts/Layout.astro';
import "./_page1.css";
import Home2 from '../components/home2/home2.astro';
import Home3 from '../components/home3/home3.astro';
import Home4 from '../components/home4/home4.astro';

const headerDetail = {
	p1 : "AI assisted mobile application to find a professional",
	p2 : "from your trusted people within a minute."
}

---

<Layout>
	<div class="page1-container">
		<img src="/reffrey/images/noise.png" alt="bg">
		<Header headerDetail={headerDetail} />
		<Home1 />
		<Home2 />
		<Home3 />
		<Home4 />
	</div>
</Layout>