---
import Header from '../components/header/Header.astro';
import Home1 from '../components/home1/home1.astro'
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Page2 from './page2.astro';
import Page3 from './page3.astro';
import "./page1.css";

const headerDetail = {
	p1 : "AI assisted mobile application to find a professional",
	p2 : "from your trusted people within a minute."
}

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="page1-container">
		<img src="reffrey/images/noise.png" alt="bg">
		<Header headerDetail={headerDetail} />
		<Home1 />
		<Page2 />
		<Page3 />
	</div>
</Layout>
