---
import Header from '../components/header/Header.astro';
import Home1 from '../components/home1/home1.astro'
import Layout from '../layouts/Layout.astro';
import Page2 from './page2.astro';
import Page3 from './page3.astro';
import "./global.css"
import "./page1.css";

const headerDetail = {
	p1 : "AI assisted mobile application to find a professional",
	p2 : "from your trusted people within a minute."
}

---

<Layout>
	<div class="page1-container">
		<img src="/reffrey/images/noise.png" alt="bg">
		<Header headerDetail={headerDetail} />
		<Home1 />
		<Page2 />
		<Page3 />
	</div>
</Layout>