---
import Header from '../components/header/Header.astro';
import Home2 from '../components/home2/home2.astro';
import Layout from '../layouts/Layout.astro';
import "./page2.css"

---

<Layout>
	<div class="page2-container">
		<img src="/reffrey/images/noise.png" alt="bg">
		<Header />
		<Home2 />
	</div>
</Layout>
