
.page1-container{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background: linear-gradient(180deg, #19191A 0%, #1B1F42 66.67%, #16233E 83.33%, #121721 97.92%);
}
.page1-container>img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}