---
import Header from '../components/header/Header.astro';
import Home3 from '../components/home3/home3.astro';
import Layout from '../layouts/Layout.astro';
import "./page3.css";

---

<Layout>
	<div class="page3-container">
		<img src="/reffrey/images/noise.png" alt="bg">
		<Header />
		<Home3 />
	</div>
</Layout>
