---
import './home2.css'
---


<section class="page2-container">
    <img src="/reffrey/images/noise.png" alt="bg">
    
<div class="home2-container">
<div class="content">
    <h2>Sure!</h2>
    <h2>Let me check with</h2>
    <h2>your <span>trusted contacts.</span></h2>
</div>
<img src="/reffrey/images/img2.png" alt="Logo" />
<div class="blueCircle"></div>
</div>
</section>