---
import './home2.css'
---


<div class="home2-container">
    <div class="content">
        <p>Sure!</p>
        <p>Let me check with</p>
        <p>your <span>trusted contacts.</span></p>
    </div>
    <img src="/images/img2.png" alt="Logo" />
    <div class="blueCircle"></div>
</div>
