---
import './home2.css'
---


<section class="page2-container">
    <img src="/reffrey/images/noise.png" alt="bg">
    
<div class="home2-container">
<div class="content">
    <h1>Sure!</h1>
    <h1>Let me check with</h1>
    <h1>your <span>trusted contacts.</span></h1>
</div>
<img src="/reffrey/images/img2.png" alt="Logo" />
<div class="blueCircle"></div>
</div>
</section>