
.page3-container{
    position: relative;
    z-index: 100;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #19191A 0%, #1B1F42 66.67%, #16233E 83.33%, #121721 97.92%);
}
.page3-container>img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.page3-container>.home3-container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 150px 0 50px 0;
    width: 100%;
    height: 100%;
    align-items: center;
}
.page3-container>.home3-container>img{
    width: 150px;
    height: 263px;
    object-fit: contain;
    position: relative;
    z-index: 2;
    right: -25%;
    bottom: -10%;
}
.page3-container>.home3-container>.greenCircle{
    width: 2000px;
    height: 2000px;
    border-radius: 2000px;
    position: absolute;
    z-index: 0;
    bottom: -165%;
    filter: blur(80px);
    opacity: 0.5;
    background: radial-gradient(50% 50% at 50% 50%, #3EFFA2 0%, #11F3E5 19.79%, rgba(34, 85, 255, 0.19) 49.48%, rgba(34, 85, 255, 0.00) 100%);
}

.page3-container>.home3-container>.content{
    padding: 0 25px 25px 25px; 
    width: fit-content;
    height: fit-content;
    position: relative;
    align-self: center;
    z-index: 10;
    text-align: center;
    margin-bottom: 50px;
}
.page3-container>.home3-container>.content::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 10%;
    background-color: transparent;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
}
.page3-container>.home3-container>.content>h1{
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
}
.page3-container>.home3-container>.content>h1:nth-child(1)>span{
    color: #23CCFD;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 39.6px */
}
.page3-container>.home3-container>.images-container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-bottom: 80px;
}
.page3-container>.home3-container>.images-container>span{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3-container>.home3-container>.images-container>span>svg{
    position: absolute;
    z-index: 1;
}
.page3-container>.home3-container>.images-container>span>img{
    position: relative;
    z-index: 2;
}
.page3-container>.home3-container>.images-container>span>img:nth-child(3){
    position: absolute;
    bottom: -30px;
    width: 63px;
height: 65px;
}
.page3-container>.home3-container>.images-container>span:nth-child(3){
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page3-container>.home3-container>.images-container>span:nth-child(3)>img:nth-child(1){
    position: absolute;
    mix-blend-mode: color-dodge;
    z-index: -1;
    bottom: -60px;
    left: -120px;
}
.page3-container>.home3-container>.images-container>span:nth-child(3)>img:nth-child(2){
    position: relative;
    margin-right: 50px;
}
.page3-container>.home3-container>.images-container>span:nth-child(1){
    display: flex;
    align-items: flex-end;
    opacity: 0.4;
    align-self: flex-start;
    position: relative;
    right: -75px;
    z-index: 1;
}
.page3-container>.home3-container>.images-container>span:nth-child(2){
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    z-index: 2;

}
.page3-container>.home3-container>.images-container>span:nth-child(4){
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    z-index: 2;
}
.page3-container>.home3-container>.images-container>span:nth-child(5){
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
    opacity: 0.7;
    position: relative;
    left: -35px;
    z-index: 1;
}
.page3-container>.home3-container>.images-container>span:nth-child(6){
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
    opacity: 0.3;
    position: relative;
    left: -70px;
    top: 10px;
    z-index: 0;
}