---
import './home3.css';
   
---


<div class="home3-container">
    <div class="content">
        <p><span>Amith</span> and <span>Manoj</span> are doing</p>
        <p>good accounting services</p>
        <p>for their clients.</p>
    </div>
    <div class="images-container">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="137" height="159" viewBox="0 0 137 159" fill="none">
          <g filter="url(#filter0_b_1_155)">
            <rect x="0.945312" y="1.60278" width="135.767" height="157.221" rx="20" fill="#D5EDFF" fill-opacity="0.25"/>
            <rect x="1.94531" y="2.60278" width="133.767" height="155.221" rx="19" stroke="white" stroke-opacity="0.5" stroke-width="2"/>
          </g>
          <g opacity="0.5" filter="url(#filter1_b_1_155)">
            <rect x="0.54126" y="0.420654" width="135.767" height="157.221" rx="20" fill="#D5EDFF" fill-opacity="0.25"/>
            <rect x="1.04126" y="0.920654" width="134.767" height="156.221" rx="19.5" stroke="white" stroke-opacity="0.6"/>
          </g>
          <defs>
            <filter id="filter0_b_1_155" x="-13.0547" y="-12.3972" width="163.767" height="185.221" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feGaussianBlur in="BackgroundImageFix" stdDeviation="7"/>
              <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1_155"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1_155" result="shape"/>
            </filter>
            <filter id="filter1_b_1_155" x="-13.4587" y="-13.5793" width="163.767" height="185.221" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feGaussianBlur in="BackgroundImageFix" stdDeviation="7"/>
              <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1_155"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1_155" result="shape"/>
            </filter>
          </defs>
        </svg>
          <img src="/reffrey/images/img3-1.png" alt="img">
      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="193" height="224" viewBox="0 0 193 224" fill="none">
          <g filter="url(#filter0_b_1_160)">
            <rect x="1.27374" y="2.03577" width="191.168" height="221.376" rx="20" fill="#D5EDFF" fill-opacity="0.25"/>
            <rect x="2.27374" y="3.03577" width="189.168" height="219.376" rx="19" stroke="white" stroke-opacity="0.5" stroke-width="2"/>
          </g>
          <g opacity="0.5" filter="url(#filter1_b_1_160)">
            <rect x="0.704865" y="0.371216" width="191.168" height="221.376" rx="20" fill="#D5EDFF" fill-opacity="0.25"/>
            <rect x="1.20486" y="0.871216" width="190.168" height="220.376" rx="19.5" stroke="white" stroke-opacity="0.6"/>
          </g>
          <defs>
            <filter id="filter0_b_1_160" x="-12.7263" y="-11.9642" width="219.168" height="249.376" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feGaussianBlur in="BackgroundImageFix" stdDeviation="7"/>
              <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1_160"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1_160" result="shape"/>
            </filter>
            <filter id="filter1_b_1_160" x="-13.2951" y="-13.6288" width="219.168" height="249.376" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feGaussianBlur in="BackgroundImageFix" stdDeviation="7"/>
              <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1_160"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1_160" result="shape"/>
            </filter>
          </defs>
        </svg>
        <img src="/reffrey/images/img3-2.png" alt="img">
        <img src="/reffrey/images/tickImg.png" alt="img">
      </span>
      <span>
        <img src="/reffrey/images/img3-6.png" alt="img">
        <img src="/reffrey/images/img2.png" alt="img">
      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="193" height="224" viewBox="0 0 193 224" fill="none">
          <g filter="url(#filter0_b_1_180)">
            <rect x="1.18427" y="2.53528" width="191.168" height="221.376" rx="20" fill="#D5EDFF" fill-opacity="0.25"/>
            <rect x="2.18427" y="3.53528" width="189.168" height="219.376" rx="19" stroke="white" stroke-opacity="0.5" stroke-width="2"/>
          </g>
          <g opacity="0.5" filter="url(#filter1_b_1_180)">
            <rect x="0.615356" y="0.87085" width="191.168" height="221.376" rx="20" fill="#D5EDFF" fill-opacity="0.25"/>
            <rect x="1.11536" y="1.37085" width="190.168" height="220.376" rx="19.5" stroke="white" stroke-opacity="0.6"/>
          </g>
          <defs>
            <filter id="filter0_b_1_180" x="-12.8157" y="-11.4647" width="219.168" height="249.376" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feGaussianBlur in="BackgroundImageFix" stdDeviation="7"/>
              <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1_180"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1_180" result="shape"/>
            </filter>
            <filter id="filter1_b_1_180" x="-13.3846" y="-13.1292" width="219.168" height="249.376" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feGaussianBlur in="BackgroundImageFix" stdDeviation="7"/>
              <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1_180"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1_180" result="shape"/>
            </filter>
          </defs>
        </svg>
        <img src="/reffrey/images/img3-3.png" alt="img">
        <img src="/reffrey/images/tickImg.png" alt="img">
      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="139" height="160" viewBox="0 0 139 160" fill="none">
          <g filter="url(#filter0_b_1_175)">
            <rect x="1.38806" y="1.31909" width="136.751" height="158.361" rx="20" fill="#D5EDFF" fill-opacity="0.25"/>
            <rect x="2.38806" y="2.31909" width="134.751" height="156.361" rx="19" stroke="white" stroke-opacity="0.5" stroke-width="2"/>
          </g>
          <g opacity="0.5" filter="url(#filter1_b_1_175)">
            <rect x="0.981079" y="0.128418" width="136.751" height="158.361" rx="20" fill="#D5EDFF" fill-opacity="0.25"/>
            <rect x="1.48108" y="0.628418" width="135.751" height="157.361" rx="19.5" stroke="white" stroke-opacity="0.6"/>
          </g>
          <defs>
            <filter id="filter0_b_1_175" x="-12.6119" y="-12.6809" width="164.751" height="186.361" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feGaussianBlur in="BackgroundImageFix" stdDeviation="7"/>
              <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1_175"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1_175" result="shape"/>
            </filter>
            <filter id="filter1_b_1_175" x="-13.0189" y="-13.8716" width="164.751" height="186.361" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feGaussianBlur in="BackgroundImageFix" stdDeviation="7"/>
              <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1_175"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1_175" result="shape"/>
            </filter>
          </defs>
        </svg>
        <img src="/reffrey/images/img3-4.png" alt="img">
      </span>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="101" height="116" viewBox="0 0 101 116" fill="none">
          <g filter="url(#filter0_b_1_170)">
            <rect x="1.20227" y="1.10339" width="99.0222" height="114.67" rx="20" fill="#D5EDFF" fill-opacity="0.25"/>
            <rect x="2.20227" y="2.10339" width="97.0222" height="112.67" rx="19" stroke="white" stroke-opacity="0.5" stroke-width="2"/>
          </g>
          <g opacity="0.5" filter="url(#filter1_b_1_170)">
            <rect x="0.907593" y="0.241211" width="99.0222" height="114.67" rx="20" fill="#D5EDFF" fill-opacity="0.25"/>
            <rect x="1.40759" y="0.741211" width="98.0222" height="113.67" rx="19.5" stroke="white" stroke-opacity="0.6"/>
          </g>
          <defs>
            <filter id="filter0_b_1_170" x="-12.7977" y="-12.8966" width="127.022" height="142.67" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feGaussianBlur in="BackgroundImageFix" stdDeviation="7"/>
              <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1_170"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1_170" result="shape"/>
            </filter>
            <filter id="filter1_b_1_170" x="-13.0924" y="-13.7588" width="127.022" height="142.67" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feGaussianBlur in="BackgroundImageFix" stdDeviation="7"/>
              <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1_170"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1_170" result="shape"/>
            </filter>
          </defs>
        </svg>
        <img src="/reffrey/images/img3-5.png" alt="img">
      </span>
      </div>
    <div class="greenCircle"></div>
</div>
