<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/reffrey/favicon.svg" />
		<link rel="stylesheet" href="/reffrey/_astro/index.B-c1P5AT">
		<meta name="generator" content={Astro.generator} />
		<title>Reffery</title>
	</head>
	<body>
		<slot />
	</body>
</html>
